.singleMovieCard {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.displayedMoviePoster {
  height: 500px;
  width: 50%;
  /* padding: 30px; */
}

.moreInfo {
  display: flex;
  flex-direction: column;
}