.App {
  text-align: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
 
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.448);
}

h1 {
  color: #023020;
  font-family: 'Cinema St', sans-serif;
  text-align: center;
  font-size: 70px;
  margin: 8px;
}