.movieContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  gap: 26px;
  margin: 30px;
  padding: 16px;
  flex-wrap: wrap;
  border: solid 3px #EECFA1;
  height: 65%;
}

.movieCard {
  width: 360px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movieTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieCard img {
  max-width: 100%;
  max-height: 80%;
}

.movieCard h2 {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 18px;
  color: #EECFA1;
  text-underline-position: under;
}

.movieCard span {
  font-size: 14px;
  margin-bottom: -2px;
  color:#023020
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EECFA1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1896484;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}