section {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow: scroll;
  gap: 26px;
  margin: 30px;
  padding: 16px;
  flex-wrap: wrap;
  border: solid 3px #EECFA1;
}